<% if (post.comments) { %>
  <section id="comments">

   <!-- 百度广告 -->
   <script type="text/javascript">
      (function () {
         var s = "_" + Math.random().toString(36).slice(2);
         document.write('<div style="" id="' + s + '"></div>');
         (window.slotbydup = window.slotbydup || []).push({
            id: "u3002233",
            container: s
         });
      })();
   </script>

  	<% if (theme.comment.type === 'disqus') { %>
       <%- partial('_script/_comment/disqus') %>
    <% } else if (theme.comment.type === 'youyan') { %>
       <%- partial('_script/_comment/youyan') %>
    <% } else if (theme.comment.type === 'livere') { %>
       <%- partial('_script/_comment/livere') %>      
    <% } else if (theme.comment.type === 'gitment') { %>
       <%- partial('_script/_comment/gitment') %>    
    <% } else if (theme.comment.type === 'valine') { %>
       <%- partial('_script/_comment/valine') %>    
    <% } else if (theme.comment.type === 'changyan') { %>
       <%- partial('_script/_comment/changyan') %>    
    <% } else if (theme.comment.type === 'gitalk') { %>
       <%- partial('_script/_comment/gitalk') %>    
    <% } %>
  </section>
<% } %>
